DB_URL=jdbc:mysql://localhost:3306/bookly_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=
DB_DRIVER=com.mysql.cj.jdbc.Driver
HIBERNATE_DIALECT=org.hibernate.dialect.MySQLDialect
JWT_SECRET=bookly-super-secret-key-bookly-super-secret-key-2026
JWT_EXPIRATION_MS=86400000
